#nav {
	background: #765C3D;
}

#d1 {
	color: #F2D2AE;
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#d2 {
	color: #F2D2AE;
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#d3 {
	color: #F2D2AE;
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#BG {
	background-size: cover;
	min-height: 100vh;
	background-image: url("bg.jpg");
	flex-shrink: 0;
}

#button1 {
	display: flex;
	padding: 12px 32px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 999px;
	background: #B59066;
}

#header1 {
	display: flex;
	width: 493px;
	height: 124px;
	flex-direction: column;
	justify-content: flex-end;
	flex-shrink: 0;
	color: #FFF;
	font-family: Montserrat;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px; /* 112.5% */
	letter-spacing: -1.28px;
}

#para1 {
	width: 413px;
	height: 124px;
	flex-shrink: 0;
	color: #FFF;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}
#B1 {
	padding: 250px;
}

#B2 {
	padding: 100px;
}

#para2 {
	color: #765C3D;
	text-align: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


#header2 {
	color: #765C3D;
	text-align: center;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#f1 {
	background-color: #B59066;
}

#f2 {
	color: #FFF2E4;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#button2 {
	display: flex;
	padding: 12px 32px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 999px;
	background: #B59066;
}

#para3 {
	color: #765C3D;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#header3 {
	display: flex;
	width: 501.751px;
	height: 49px;
	flex-direction: column;
	justify-content: flex-end;
	flex-shrink: 0;
	color: #765C3D;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#B3 {
	background-color: #FFF2E4;
}

#pad1 {
	padding: 200px;
}

#N1 {
	color: #B59066;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#N2 {
	color: #B59066;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#N3 {
	color: #B59066;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}