/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 0.8rem;
    margin-bottom: 1px solid gray;
    border-bottom: 1px solid gray;
    list-style-type: none;
}

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

/* End of Navbar */

/* Intro Section */
#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    font-weight: bold;
    background-color: #0000ff;
    border-radius: 25px;
    font-size: 1rem;
    /*  When using only 1 value for the 'padding' property, you are applying styling for all sides.  */
    padding: 1rem;

}

/* End of Intro Section */

/* Succeed Info Section */
#succeed-info {
    padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
    margin-bottom: 1rem;
}

#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-bottom: 0 0.5rem 0 0.5rem;
}

#pre-footer {
    padding: 1rem 10% 5rem 10%;
}

#pre.pre-footer > h3 {
    display: inline-block;
    vertical-align: text-top;
    min-height: 150px;
    width: 20%;
    margin-bottom: 0 0.5 0 0.5rem;
}